.landing {
	position: relative;
	background: url('./assets/landing.jpg') no-repeat center center/cover;
	height: 100vh;
}

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
}

.landing-inner {
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.landing-inner form {
	width: 30%;
}

.landing-inner h1,
.landing-inner h4,
.landing-inner p {
	color: white;
}

.spinner-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

/* Task button */
.task-button {
	padding-top: 0;
	background: transparent;
	border: none;
}

.task-button:hover {
	background: transparent;
}

a.task-button.btn:focus,
a.task-button.btn:active {
	outline: none;
	background: transparent;
	border: none;
	box-shadow: none;
}

button.task-button.btn:focus,
button.task-button.btn:active {
	outline: none;
	background: transparent;
	border: none;
	box-shadow: none;
}

/* Floating add button */
.btn-floating {
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	background: transparent;
	border: none;
}
.btn-floating img {
  width: 60px; 
  height: 60px;
}

.btn-floating:hover {
	background: transparent;
}

.btn-floating:focus,
.btn-floating:active {
	outline: none;
	background: transparent;
	border: none;
	box-shadow: none;
}
.btn1-floating {
  position: fixed;
	right: 9rem;
	bottom: 57px;
	border: none;
}
.btn1-floating img {
  width: 40px; 
  height: 40px;
}
/* Add new task tooltip */
.tooltip {
	background: transparent;
}

.tooltip .arrow::before {
	border-left-color: #78c2ad;
}

.tooltip-inner {
	background: #78c2ad;
}

/* Task border thicker */
.border-success,
.border-warning,
.border-danger {
	border-width: 2px;
  height: 157px;
}

/* Task title */
.task-title {
	margin-bottom: 0.5rem;
}
#nav-dropdown::after{
  display: none; 
}

.act-btn .btn{
  padding: 0 12px 0 0 ;
}
.act-btn .btn:last-child{
  padding: 0;
}
.col-8 {
  padding-right: 0;
}


/* User */
.panel {
  box-shadow: none;
}
.panel:last-child {
  margin-top: 100px;
}
.panel-heading {
  border-bottom: 0;
}
.panel-title {
  font-size: 17px;
}
.panel-title > small {
  font-size: .75em;
  color: #999999;
}
.panel-body *:first-child {
  margin-top: 0;
}
.panel-footer {
  border-top: 0;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.07);
}

form label {
    color: #999999;
    font-weight: 400;
}

.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
    margin-bottom: 0;
    padding-top: 7px;
  }
}

.profile__contact-info-icon {
    float: left;
    font-size: 18px;
    color: #999999;
}
.profile__contact-info-body {
    overflow: hidden;
    padding-left: 20px;
    color: #999999;
}
.profile-avatar {
  width: 200px;
  position: relative;
  margin: 0px auto;
  margin-top: 196px;
  border: 4px solid #f3f3f3;
}

.info_avatar{
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin: 15px auto;
  border: 1px solid #ddd;
  cursor: pointer;
}
.info_avatar img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.info_avatar span{
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 50%;
  text-align: center;
  color: orange;
  transition: 0.3s ease-in-out;
  background: #fff5;
}
.info_avatar:hover span{
  bottom: -15%;
}
 .info_avatar #file_up{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.lich{
  position: fixed;
    top:0;
    left: 0;
    background: #0008;
    width: 100%;
    height: 100vh;
    z-index: 4;
}
.lich1{
  border: 1px solid #222;
    border-radius: 5px;
    background: white;
    padding: 20px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lich1 .close{
  position: absolute;
  top: 0;
  right: 3px;
  font-size: 3rem;
  cursor: pointer;
}
.edit-profile {
  margin-top: 1rem;
}
.save {
  width: 80.5px;
  margin-right: 10px;
}
.welcome {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .act-btn {
    padding: 0;
  }
  .btn-floating {
    right: 1rem;
	  bottom: 1rem;
  }
  .btn-floating img {
    height: 30px;
    width: 30px;
  }
  .btn1-floating img {
    height: 25px;
    width: 25px;
  }
  .btn1-floating {
    background-color: transparent;
    right: 3.5rem;
	  bottom: 1.2rem;
  }
}